.hold-me {
  background-image: url("https://res.cloudinary.com/ds1xxqhey/image/upload/v1634686630/KOFOPREWEDDING1519_rioeqy.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
  background-size: cover;
}

.hold-out {
  background-image: url("https://res.cloudinary.com/ds1xxqhey/image/upload/v1634937388/KOFO-PREWEDDING1750_skhg19.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
  background-size: cover;
}

@media (min-width: 768px) and (max-width: 968px) {
  .hold-out {
    background-image: url("https://res.cloudinary.com/ds1xxqhey/image/upload/v1634686630/KOFOPREWEDDING1618_bl8mih.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
    background-size: cover;
  }
}
