.hold-me {
  background-image: url("https://res.cloudinary.com/onedebeos/image/upload/f_auto,q_auto:low/v1652220469/ire/YMK_9176_pqgglk.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 35% 20%;

  box-shadow: inset 0 0 0 2000px rgba(66, 4, 4, 0.4);
  background-size: cover;
}

.hold-out {
  background-image: url("https://res.cloudinary.com/onedebeos/image/upload/f_auto,q_auto:low/v1652220479/ire/YMK_8943_qi90fr.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 35% 20%;

  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
  background-size: cover;
}

@media (min-width: 768px) and (max-width: 968px) {
  .hold-out {
    background-image: url("https://res.cloudinary.com/onedebeos/image/upload/q_auto:low/v1652220455/ire/YMK_9384b_jhwufo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 15% 67%;

    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
    background-size: cover;
  }
}
