@tailwind base;

@tailwind components;

@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.note {
  background-color: #f3f1e5;
}

.note-text {
  font-family: "DM Serif Display";
}

.rightSide {
  background-color: #f4f6f8;
}

.list {
  font-family: "Metropolis";
}

.playfair {
  font-family: "Playfair Display";
}

.underline-yellow {
  background: linear-gradient(180deg, transparent 70%, #f5c06f 0);
  background-color: rgba(0, 0, 0, 0);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-image: linear-gradient(transparent 70%, rgb(245, 192, 111) 0px);
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  cursor: pointer;
}

.poppins {
  font-family: "Poppins";
}

.revealList {
  cursor: pointer;
  color: #816234;
}
.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #f5c06f;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}
