.bg-slider {
  background-image: url("https://res.cloudinary.com/onedebeos/image/upload/f_auto,q_auto:low/v1652220516/ire/YMK_9010_ziqvvo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 15% 10%;

  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
  background-size: contain;
}

@media (min-width: 768px) and (max-width: 960px) {
  .bg-slider {
    background: url("https://res.cloudinary.com/onedebeos/image/upload/f_auto,q_auto:low/v1652220516/ire/YMK_9010_ziqvvo.jpg")
      no-repeat center fixed;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
    background-size: cover;
  }
}

@media (min-width: 960px) {
  .bg-slider {
    background: url("https://res.cloudinary.com/onedebeos/image/upload/f_auto,q_auto:low/v1652220516/ire/YMK_9010_ziqvvo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 85% 15%;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
    background-size: cover;
  }
}
.bg-slider {
  font-family: Metropolis;
}

.slider-text {
  color: #fcfdbf;
}
